
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>This is the page i created ourselves.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Doğukan</td>
        <td>Electronics</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ömer</td>
        <td>Manegment</td>
    </tr>
</table>

